{% extends 'books/main_template.html' %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}

    <style>
        .card-content {
            width: 80%;
            margin: 1% auto;
        }

    </style>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <div class="card">
                    <img class="card-img" src="{{ book.book_cover.url }}" alt="Book Cover">
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h6>Title: {{ book.title }}</h6>
                        <h6>Date Published: {{ book.date_published }}</h6>
                    </div>
                </div>
            </div>


            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h6>Authors: {{ book.authors|join:", " }}</h6>
                        <h6>Categories: {{ book.categories|join:", " }}</h6>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for edition in editions %}
                        <tr>
                            <td>{{ edition.id }}</td>
                            <td>{{ edition.book.title }}</td>
                            <td>{{ edition.ISBN }}</td>
                            <td>{{ edition.status }}</td>
                            {% if edition.status == 'AVAILABLE' %}
                                <td><a href="{% url 'borrow' edition.id %}" class="btn btn-warning">Borrow</a></td>
                            {% else %}
                                <td><a href="{% url 'return' edition.id %}" class="btn btn-danger">Return</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>

            <a class='btn btn-info' href="{% url 'add_edition' book.id%}">Add Edition</a>
        </div>
    </div>




{#    <div class="card-content">#}
{#        <div class="row">#}
{#            <div class="col-sm-4">#}
{#                <div class="card">#}
{#                    <img class="card-img" src="{{ book.book_cover.url }}" alt="Book Cover">#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-sm-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h6>Title: {{ book.title }}</h6>#}
{#                        <h6>Date Published: {{ book.date_published }}</h6>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-sm-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h6>Authors: {{ book.authors|join:", " }}</h6>#}
{#                        <h6>Categories: {{ book.categories|join:", " }}</h6>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}