{% extends 'books/main_template.html' %}

{% block title %}Books List{% endblock %}

{% block content %}

    <style>
        .top-margin {
            margin: 10px auto;
        }
    </style>

    <div class="top-margin container">
        <div class="row table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Authors</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Date Published</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books_list %}
                        <tr>
                            <td>{{ book.id }}</td>
                            <td><a href="{% url 'book_details' book.id %}">{{ book.title }}</a></td>
                            <td>{{ book.authors.all|join:", " }}</td>
                            <td>{{ book.categories.all|join:", " }}</td>
                            <td>{{ book.date_published }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <a class='btn btn-primary' href="{% url 'add_book' %}">Add a new book</a>
                <a style='margin-left: 10px;' class='btn btn-primary' href="{% url 'add_author' %}">Add a new author</a>
                <a style='margin-left: 10px;' class="btn btn-primary" href="{% url 'add_category' %}">Add a new category</a>
            </div>


        </div>
    </div>
{% endblock %}