{% extends 'books/main_template.html' %}
{% load crispy_forms_filters %}

{% block title %}Main Page{% endblock %}

{% block content %}

    <style>
        .card-content {
            width: 80%;
            margin: 1% auto;
        }

        .card1 {
            background-color: #D3D3D3;
        }

        .card2 {
            background-color: #A9A9A9;
        }

        .card3 {
            background-color: #808080;
        }

        .full-card {
            height: 100%;
        }

        .full-row {
            margin-bottom: 10px;
        }

    </style>

    <div class="card-content">
        <div class="row full-row">
            <div class="col">
                <div class="card card1 text-white full-card">
                    <div class="card-header text-center">
                        <h5>Number of Books/Editions</h5>

                    </div>
                    <div class="card-body text-center ">
                        <h4>{{ books_count }}/{{ editions_count }}</h4>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card2 text-white full-card">
                    <div class="card-header text-center">
                        <h5>Number of Books Borrowed</h5>
                    </div>
                    <div class="card-body text-center">
                        <h4>{{ borrowed_count }}</h4>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card3 text-white full-card">
                    <div class="card-header text-center ">
                        <h5>Number of Books Due Today</h5>
                    </div>
                    <div class="card-body text-center ">
                        <h4>{{ due_today }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card card-body">
                <form action="" method="GET">
                    {% csrf_token %}

                    {{ renew_form.book_edition_id.label }}
                    {{ renew_form.book_edition_id }}

                    <input type="submit" class="btn btn-primary" name="Search" value="Search">
                </form>
            </div>
        </div>
    </div>

{% endblock content %}