{% extends 'books/main_template.html' %}
{% load crispy_forms_filters %}

{% block title %}Main Page{% endblock %}

{% block content %}

    <style>
        .container {
            width: 80%;
            margin: 1% auto;
        }

        .card1 {
            background-color: #D3D3D3;
        }

        .card2 {
            background-color: #A9A9A9;
        }

        .card3 {
            background-color: #808080;
        }

        .full-card {
            height: 100%;
        }

        .full-row {
            margin-bottom: 10px;
        }

        .top-margin {
            margin-top: 20px;
        }

    </style>

    <div class="container">
        <div class="row full-row">
            <div class="col">
                <div class="card card1 text-white full-card">
                    <div class="card-header text-center">
                        <h5>Number of Books/Editions</h5>

                    </div>
                    <div class="card-body text-center ">
                        <h4>{{ books_count }}/{{ editions_count }}</h4>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card2 text-white full-card">
                    <div class="card-header text-center">
                        <h5>Number of Books Borrowed</h5>
                    </div>
                    <div class="card-body text-center">
                        <h4>{{ borrowed_count }}</h4>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card3 text-white full-card">
                    <div class="card-header text-center ">
                        <h5>Number of Books Due Today</h5>
                    </div>
                    <div class="card-body text-center ">
                        <h4>{{ due_today }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card card-body">
                <form action="" method="GET">
                    {% csrf_token %}

                    {{ renew_form.book_edition_id.label }}
                    {{ renew_form.book_edition_id }}

                    <input type="submit" class="btn btn-primary" name="Search" value="Search">
                </form>
            </div>
        </div>

        <div class="row top-margin">
            <div class="col-md-6">
                <h5>Number of Borrows Per Customer</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Customer #</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Number of Books</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cust in borrows_by_cust %}
                            <tr>
                                <td>{{ cust.1 }}</td>
                                <td>{{ cust.2 }} {{ cust.3 }}</td>
                                <td>{{ cust.0 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <h5>Books Due Today</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Customer</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for borrow in borrows_today %}
                            <tr>
                                <td>{{ borrow.book_edition.id }}</td>
                                <td>{{ borrow.book_edition.book.title }}</td>
                                <td>{{ borrow.book_edition.ISBN }}</td>
                                <td>{{ borrow.customer.first_name }} {{ borrow.customer.last_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}